@model Somativa.Models.Compra

@{
    ViewData["Title"] = "Edit";
}

<div class="row container justify-content-center bg-white bordinha mx-0">
    <div class="col-md-4">
        <h1 class="text-center text-uppercase mt-3">Compra</h1>
        <h2 class="text-center text-uppercase mt-3 text-secondary">Editar</h2>

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CompraId" />

            <div class="form-group mb-3">
                <label asp-for="Nota" class="control-label"></label>
                <input asp-for="Nota" class="form-control" />
                <span asp-validation-for="Nota" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="DataHora" class="control-label"></label>
                <input asp-for="DataHora" class="form-control" />
                <span asp-validation-for="DataHora" class="text-danger"></span>
            </div>

            <div class="form-group text-center my-4">
                <button type="submit" class="btn btn-primary">Salvar</button>
                <a asp-action="Index" class="btn btn-secondary ml-2">Voltar à Lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
