@{
    ViewData["Title"] = "Cards";
}
<partial name="~/Views/Home/_LayoutParcial.cshtml" />

<style>
    body {
        background: linear-gradient(to bottom, #9ccb97, #39676b); /* Substitua as cores conforme necessário */
    }
</style>

<div class="bg-white container bordinha py-5">
    <div class="text-center">
        <p class="fs-64">BEM-VINDO</p>
        <p class="text-secondary fs-24">A ÁREA DE </p>
        <p class="fs-64 fw-bolder">TABELAS</p>
    </div>
</div>

