@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Esqueceu a Senha?";
}
<style>

    body {
        background: linear-gradient(to bottom, #9ccb97, #39676b); /* Substitua as cores conforme necessário */
    }

    .form-check-input:checked {
        background-color: #fb9070;
        border-color: #f9693e;
    }

</style>

<div class="row justify-content-center vh-75 align-content-center">
    <div class="col-md-5">
        <h1 class="text-white text-center fs-10 mb-5 sombra">@ViewData["Title"]</h1>

        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label fs-5"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="text-center mt-5">
                <button type="submit" class="w-50 btn btn-lg btnLogin text-white rounded-pill sombra2 sombrabox">Resetar Senha</button>
            </div>
        </form>
    </div>
    <div class="text-center mt-3 sombra2">
        <p>
            <a href="https://localhost:7224/Identity/Account/Login" class="text-white">Voltar</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
